{% extends 'profile.html' %}

{% block form_edit_profile %}

<div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <legend>Editar Perfil</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.profile_photo.label }}
                            {{ form.profile_photo(class="form-control-file") }}
                            {% if form.profile_photo.errors %}
                                 {% for error in form.profile_photo.errors %}
                                    <span class="text-danger">{{ error }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form.button_submit_editprofile(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}