<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Rotten Ramen</title>
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width-device.width, initial-escale=1.0">
    <link rel="stylesheet"  type="text/css"  href="{{ url_for('static', filename = 'stylelogin.css') }}">

    {% block head %}
    {% endblock %}
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="bemVindo">
        <div id="container2">
            <img src="{{ url_for('static', filename = 'bemvindo.png') }}" alt="">
        </div>
    </div>
    <div id="container">
        <img src="{{ url_for('static', filename = 'rotten.png') }}" id=perfil>
        <div class="form">
             <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_login.csrf_token }}
                    <legend>Login</legend>
                    <fieldset>
                        <div class="label-float">
                            {{ form_login.email.label(class="form-control-label") }}
                            {% if form_login.email.errors %}
                                {{ form_login.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_login.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_login.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="label-float-2">
                            {{ form_login.password.label(class="form-control-label") }}
                            {% if form_login.password.errors %}
                                {{ form_login.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_login.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_login.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_login.remember_data.label(class="form-check-label") }}
                            {{ form_login.remember_data(class="form-check-input") }}
                        </div>
                    </fieldset>
                     <div class="botao">
                        {{ form_login.button_submit_login(class="btn btn-primary mt-2") }}
                     </div>
                </form>
        </div>
        <div class="cadastro">
            <a href="{{ url_for('register') }}">Cadastre-se</a>
        </div>
    </div>

{% block body %}
{% endblock %}

</body>
</html>