{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Faça seu cadastro para ter acesso à plataforma</h1>
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    {{ form_creataccount.csrf_token }}
                    <legend>Criar Conta</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_creataccount.username.label(class="form-control-label") }}
                            {% if form_creataccount.username.errors %}
                                {{ form_creataccount.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_creataccount.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_creataccount.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_creataccount.email.label(class="form-control-label") }}
                            {% if form_creataccount.email.errors %}
                                {{ form_creataccount.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_creataccount.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_creataccount.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_creataccount.password.label(class="form-control-label") }}
                            {% if form_creataccount.password.errors %}
                                {{ form_creataccount.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_creataccount.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_creataccount.password(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form_creataccount.confirmation_password.label(class="form-control-label") }}
                            {% if form_creataccount.confirmation_password.errors %}
                                {{ form_creataccount.confirmation_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_creataccount.confirmation_password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_creataccount.confirmation_password(class="form-control") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    {{ form_creataccount.button_submit_creataccount(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}